body
{
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 0;
	margin-right: 0;

	background: url("back.webp") no-repeat center center fixed;
	background-color: #6b7594;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: arial;
	color: #e8f0ff;
	text-align: center;
}

a:link { color: #e8d0ff; }

a:visited { color: #e8d0ff; }

a:hover { color: #e8d0dd; }

div
{
	margin: 0;
	color: rgba(24, 32, 48, 0.75);
	padding: 4px 6px 4px 6px;
	background: rgba(222, 228, 244, 0.5);
	border-style: none;
	/* border-radius: 10px; */
}

tiny		{ font-size: 10px; }
tiny12		{ font-size: 12px; }

div:hover { background: rgba(222, 228, 244, 1); }

div.box {
	border-style: hidden; background-color: transparent;
}

div.code_list
{
	background: #000000;
	border-color: #555555;
	color: #888;
	margin: 4px 6px 4px 6px;
	font-family: courier;
	font-size: 12px;
	text-align: left;
}

H2 { font-weight: normal; font-size: 20px;
	margin: 8px 8px 8px 8px;
}

H3
{
	text-align: left;
	margin: 8px 8px 8px 8px;
	font-weight: normal;
}

hr {
	border-style: hidden;
	border-width: 1px;
	border-top-style: solid;
	border-color: #ffffff;
	opacity: 0.5;
}

img.tile
{
	margin: 4px 4px 4px 4px;
}


.inner-inputs {
    display: inline-block;
    text-align: right;
}

.inner-item-name {
    display: inline-block;
    background: none;
}

div.inner:hover {
    background: none;
}


div:hover > div.inner-item-name {
    color: red;
}

div:hover form .inner-item-name {
    color: rgb(213, 56, 56);
}

div:not(hover) form .inner-inputs {
    display: none;
}

div:hover form .inner-inputs {
    display: inline-block;
}

input[type=submit] {
    border-radius: 4px;
}

.inner-inputs {
    margin: 0;
    padding: 0;
}

center div {
    margin-bottom: 2p;
}

div form {
	display: inline-block;
	min-height: 20px;
	padding: 1 6px;
	margin-top: 2px;
	background: rgba(176, 189, 224, 0.82);
	text-align: left;
	margin-left: 100px;
	border-radius: 10px;
	box-shadow: rgba(65, 82, 136, 0.54) 2px 2px;
}

#chart {
	color: "black";
}

table th, table td {
	font-size: 12px;
}
